// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page.current, .page, .next, .last, .first, .prev {
  margin-right: 20px;
}

.subtitle01 {
  margin-bottom: 10px;
}

table.usertable1 {
  width: 500px;
  height: 250px;
}

table.usertable2 {
  width: 600px;
  height: 350px;
  margin-bottom: 10px;
}

.clickbutton1 {
 margin-top: 10px;
}

.pagecontent {
  margin-top: 20px;
}

td.userlist1 {
  padding: 0 90px 5px 0;
}

td.userlist2 {
  padding: 0 100px 5px 0;
}

td.userlist3 {
  padding: 0 200px 5px 0;
}

td.userlist4 {
  padding-bottom: 5px 0;
}