// Place all the styles related to the public/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contactinput {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

.contactinput2 {
  width: 400px;
  height: 120px;
  margin-bottom: 10px;
}

.contacttitle {
  margin-bottom: 20px;
}