// Place all the styles related to the public/post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 600px;
  width: 800px;
}


#map1 {
  height: 600px;
  width: 800px;
  margin: 0 auto;
}

.maintitle {
  margin-bottom: 15px;
}

.posttitle{
  margin-bottom: 20px;
}

.postcontent {
  width: 400px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.postcontent1 {
  width: 400px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.postcontent2 {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.postcontent3 {
  width: 400px;
  height: 110px;
}

.buttonedit {
  margin-top: 20px;
}

.buttondelte {
  margin-top: 20px;
  margin-left: 80px;
}

.posting {
  width: 100px;
  height: 45px;
  margin-bottom: 20px;
}

input.postmap {
  width: 450px;
  margin-bottom: 10px;
}

.commentarea {
  margin-bottom: 15px;
}

.posting {
  width: 150px;
  height: 45px;
  margin-bottom: 20px;
}

.commentposting {
  margin-top: 10px;
}