// Place all the styles related to the public/recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-101 { 
  height: 300px;
  width: 80%;
}
        
#map-102 { 
  height: 300px;
  width: 80%;
}

#map-103 { 
  height: 300px;
  width: 80%;
}