// Place all the styles related to the public/recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-101 {
  height: 300px;
  width: 80%;
}

#map-103 {
  height: 300px;
  width: 80%;
}

.picsetting {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width:768px) {

  .text1 {
    width: 350px;
  }

  .picsetting {
    width: 350px;
    height: 250px;
  }

  .recommendationtitle {
    width: 300px;
  }

  .placemap {
    width: 350px;
    height: 250px;
  }

}