// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title03 {
  margin-bottom: 20px;
}

.button04 {
  margin-top: 30px;
}

.button05 {
  margin-top: 30px;
  margin-left: 80px;
}

.button06 {
  margin-top: 20px;
}

.button07 {
  margin-top: 20px;
  margin-left: 80px;
}

table.usertable01 {
  width: 500px;
  height: 130px;
}

table.usertable02 {
  width: 500px;
  height: 250px;
}

.title05 {
  margin-right: 5px;
}

.usertitle {
  margin-bottom: 10px;
}

.usercontent {
  width: 300px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.usercontent2 {
  width: 400px;
  margin-left: 15px;
  margin-bottom: 10px;
  height: 100px;
}

.postindexs {
  margin: 10px 0px 20px 0px;
}