<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2>Realtime AICHI</h2> </br>
        〜常に最新の愛知が知れるサイト〜
        <div class="text-right">
          <%= link_to "+", new_public_post_image_path, class: " btn btn-light", style: "border-radius: 50%" %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">

    </div>
  </div>
</div>