<div class="container">
  <div class="row">
    <div class="mx-auto col-md-10">
      <h2><i class="fas fa-atlas"></i>About</h2>

      <p>2021年に10月発表された都道府県魅力度ランキング2021。</p>
      <p>大都市且つ観光地で有名な大阪や神奈川、福岡がトップ10入りする中、</p>
      <p>作者が生まれ育ち、今でも生活拠点である愛知県は20位に終わる結果に。<i class="far fa-sad-tear"></i></p>
      <p>この結果から愛知県へ観光に来る人たちに向けて、最新の魅力を多くの人に</p>
      <p>知ってもらいたい！との発想が思いつき、Realtime AICHI を立ち上げました。</p>
      <p>主役はこのサイトを見に来てくれた皆様です！！</p>
      <p>皆様の1つ1つの投稿が「愛知県」をより魅力ある街にしてくれると思います。</p>
      <p>愛知へ遊びに来た方、1箇所でも観光地を知っている皆様の力を貸してください。</p>
      <p>参加は以下のボタンからアクセスできます。皆さんと共に「愛知」を魅力ある街にしましょう！！</p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-success" %>
    </div>
  </div>
</div>