<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-1 m-4">
      <div class="center-block m-5">
        <p class="text-center">Welcome to Realtime AICHI！！！</p>
        <p class="text-center">このサイトは愛知県の「今」をリアルタイムで知ることができます。</p>
        <p class="text-center">当サイト紹介文は閲覧可能ですが、各投稿の閲覧につきましては</p>
        <p class="text-center">ログインが必要になります。以下ボタンからご参加下さい。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-success" %>
    </div>
  </div>
</div>