<h1><%= @user.name %>様</h1>

<p>いつもお世話になっております。</p>
<p>Realtime_AICHI 管理人でございます。</p>

<p>この度はRealtime_AICHIへのご登録有難うございます。</p>
<p><%= @user.name %>様の投稿が最新の愛知県の魅力を伝える</p>
<p>重要な情報になります。</p>

<p>どのような情報でも構いませんので、</p>
<p>積極的に当サイトをご活用頂けますと幸いです。</p>

<p>一緒にRealtime_AICHI、そして愛知県全体を盛り上げていきましょう！</p>

<p>Realtime_AICHI 管理人</p>