
<h4>アクセスマップ</h4>

  <div id="map"></div>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 400px;
            width: 70%;
          }
   </style>
  
   <script type="text/javascript">
     function initMap() {
       geocoder = new google.maps.Geocoder()
       var test = {lat:35.1847893, lng:136.8997882 };
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 17,
                 center: {lat:35.1847893, lng:136.8997882 },
                 mapTypeControl: false,
                 streetViewControl: false
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：愛知県名古屋市中区本丸1-1';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position: {lat:35.1847893, lng:136.8997882 },
                     map: map,
                     title: contentString
                   });
     }
     </script>
     
     <script type="text/javascript">
     function initMap() {
       geocoder = new google.maps.Geocoder()
       var test = {lat:35.1847893, lng:136.8997882 };
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 17,
                 center: {lat:35.1847893, lng:136.8997882 },
                 mapTypeControl: false,
                 streetViewControl: false
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：愛知県名古屋市中区本丸1-1';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position: {lat:35.1847893, lng:136.8997882 },
                     map: map,
                     title: contentString
                   });
     }
     </script>