<div class="container">
 <div class="row">
  <div class="col-10 offset-md-1 text1">
    <h3><%= image_tag 'logo16.png', size:'600x75', class: "recommendationtitle" %></h3>
    <p>ここでは観光スポットを3つ紹介！</p>
    <p>愛知へお越しの際は是非！！</p>
  </div>
  <div class="col-10 offset-md-1 text1">
   <%= image_tag '名古屋城.jpg', size: "600x400", class: "picsetting"  %>
     <h5>【名古屋城】</h5>
     <p>金の鯱鉾で名高い観光地。</p>
     <p>金シャチ横丁など城廻りが充実。</p>
     <p>「劇場版 名探偵コナン 緋色の弾丸」の</p>
     <p>羽田秀吉登場時に描写されています。</p>
      <h5>アクセスマップ</h5>
       <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3260.8695204790697!2d136.8999662!3d35.1848045!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1637242758480!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="placemap"></iframe>
  </div>
 </div>
 <div class="row">
   <div class="col-md-10 offset-md-1 text1">
    <%= image_tag '名古屋港.jpg', class: 'inline-block', size: "600x400", class: "picsetting"  %>
      <h5>【名古屋港】</h5>
        <p>名古屋水族館のイルカショーは人気。</p>
        <p>「劇場版 名探偵コナン 緋色の弾丸」に</p>
        <p>複数箇所、描写されています！</p>
        <p>聖地巡礼に現地へ行ってみては！？</p>
         <h5>アクセスマップ</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3264.6186816441896!2d136.878802!3d35.0912592!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1637242342779!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="placemap"></iframe>
   </div>
 </div>
 <div class="row">
   <div class="col-md-10 offset-md-1 text1">
    <%= image_tag '三光神社.jpg', class: 'inline-block', size: "600x400", class: "picsetting"  %>
     <h5>【三光神社】</h5>
     <p>県内でも有名な縁結びパワースポット。</p>
     <p>インスタ映えするので、女性に人気。</p>
     <p>犬山観光時にはオススメです！！</p>
       <h5>アクセスマップ</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1371.8267597209808!2d136.93943555843663!3d35.3870465775308!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1637243012258!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="placemap"></iframe>
   </div>
 </div>
</div>