<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <h3>問い合わせ詳細情報</h3>
        <table>
          <tbody>
            <tr><td>ユーザー名</td></tr>
            <tr><td><%= @contact.user.name %></td></tr>
            <tr><td>問い合わせタイトル</td></tr>
            <tr><td><%= @contact.title %></td></tr>
            <tr><td>問い合わせ本文</td></tr>
            <tr><td><%= @contact.message %></td></tr>
          </tbody>
        </table>
         <%= link_to "一覧へ戻る", admins_contacts_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>