<p><%= @resource.email %>様</p>

<p>この度はRealtime_AICHIをご活用頂き、誠に有難う御座います。</p>
<p>以下リンクからパスワードの再発行手続きを進めて下さい。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストをしていない場合は、本メールを無視して下さい。</p>
<p>上記リンクから手続きが完了しない限り、新しいパスワードが</p>
<p>使えませんことを何卒ご了承下さい。</p>