<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 offset-md-2">
      <h2><%= image_tag 'logo13.png', size:'300x50', class: "title03" %></h2>
        <p>退会後、会員情報の閲覧権限や新規投稿権限を失効します。</p>
        <p>退会する場合は「退会する」をクリックして下さい。</p>
          <%= link_to "退会しない",public_user_path(current_user.id), class:"btn btn-primary button04" %>
          <%= link_to "退会する", withdraw_public_users_path, method: :patch, class:"btn btn-danger button05" %>
    </div>
  </div>
</div>